/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FILTER_SNPS' {
        memory = 12.GB
        ext.prefix = { "${meta.id}.${meta.caller}.snps" }
        ext.args   = { "--output-type z --write-index=tbi --types snps" }
        publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bcftools/view/${meta.caller}/" },
            ]
    }

    withName: 'ISEC_SNPS' {
        memory = 12.GB
        ext.prefix = { "${meta.id}.snps" }
        ext.args   = { "--collapse snps --nfiles +${meta.consensusFiles}"}
        publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bcftools/isec/" },
            ]
    }

    withName: 'FILTER_INDELS' {
        memory = 12.GB
        ext.prefix = { "${meta.id}.${meta.caller}.indels" }
        ext.args   = { "--output-type z --write-index=tbi --types indels" }
        publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bcftools/view/${meta.caller}/" },
            ]
    }

    withName: 'ISEC_INDELS' {
        memory = 12.GB
        ext.prefix = { "${meta.id}.indels" }
        ext.args   = { "--collapse indels --nfiles +2"}
        publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bcftools/isec/" },
            ]
    }

    withName: 'TABIX_*' {
        publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bgzip/${meta.varianttype}/" },
            ]
    }

    withName: 'PASS_*' {
        memory = 12.GB
        ext.prefix = { "${meta.id}.${meta.varianttype}.consensus.pass" }
        ext.args   = { "--output-type z --write-index=tbi -f 'PASS,.'" }
        publishDir = [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/bcftools/pass/" },
            ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
